@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

h1{
    color: white;
}

.header{
    align-items: center;
    width: auto;
    margin: 0;
    font-size: 40px;
}


#red{
    text-align: right;
    font-size:70px;
}

#flags{
    color: red;
    font-size: 50px;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: red;
    z-index: -1; 
}

h2{
    color: white;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-items: center;
}

.input{
    height: 1em;
    width: 50%;
    min-width: 50%;
    padding: 0;
    border-radius: 0;
    line-height: 70px;
    background-color: transparent;
    color: white;
    font-size: 2em;
    border: none;
    outline: none;
    font-family: Roboto Slab, sans-serif;
    text-align: center;
    font-weight: bold;
}

::placeholder{
    color: antiquewhite;
    opacity: 0.5;
}

.box{
    width: 100%;
    border: #fff;
    border-width: 1em;
}

.players-menu p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

select{
    width: 100%;
    background-color: transparent;
    border: none;
}

select::-webkit-scrollbar {width: 0.5rem;}
select::-webkit-scrollbar-track {background: red;}
select::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
    margin: 5px;
}

.player{
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin: 5px;
    color: red;
    font-weight: bold;
    width: auto;
}

.name{
    color: red;
}

div.scrollmenu {
    width: auto;
    background-color: white;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: red;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu::-webkit-scrollbar {height: 0.5rem;}
div.scrollmenu::-webkit-scrollbar-track {background: white;}
div.scrollmenu::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 5px;
    margin: 5px;
}

#lower-half{
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.players-menu{
    width: 15rem;
    background-color: red;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    margin-right: auto;
}

.menu{
    width: 700px;
    min-height: 1em;
    background-color: red;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
}

.container {
    width: 750px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-areas:
    "thing thing thing thing"
    "thing thing thing thing"
    "thing thing thing thing";
}

.wordsthing{
    display: flex;
    justify-content: center;
}

.card {
    height: 7rem;
    width: 10rem;
    background-color: white; /**other colorrgb(42,33,57)**/
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 5px;
    margin: 5px;
    transition: all .2s ease-in-out;
    border-color: white;
    color: white;
    border: solid;
    border-width: 0.5rem;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.5);
}


.button:hover{
    cursor: pointer;
}

button{
    padding: 0;
    border: none;
    background: none;
}

.button:hover h1{
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px pink,
    0 0 82px pink,
    0 0 92px pink,
    0 0 102px pink,
    0 0 151px pink;   
}
