@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-items: center;
}

#bg{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(0.35turn, #e66465, #9198e5);
}

#title{
    color: white;
    font-size: 10em;
    margin-bottom: 0em;
}

.neon{
    animation: flicker 10.5s infinite alternate;   
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px red,
    0 0 82px red,
    0 0 92px red,
    0 0 102px red,
    0 0 151px red;   
}

#subtitle{
    font-family: 'Damion', cursive;
    color: white;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px red,
        0 0 80px red,
        0 0 90px red,
        0 0 100px red,
        0 0 150px red;
    }
    20%, 24%, 55% {       
        text-shadow: none;
    }
}